@import './variables.scss';
@import './reset.scss';
// 全局
html {
  font-family: $font-family;
}
body {
  margin: 0;
  background-color: $body-bg;
}
// 自定义元素主题
$--color-primary: $primary-color;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-menu {
  border-right: none;
}

.page-filter {
  display: flex;
  .page-filter-btn {
    margin-left: auto;
  }
}
.page-pagination {
  margin-top: 20px;
}
